/* Aquí empieza el css del footer */
.footer{
    margin-top: -100px;
}
.info_footer{
    margin-top: 30px;
}
.logo_footer{
    margin-left: 660px;
}
.titulo_footer{
    margin-left: 720px;
    margin-top: -40px;
}
.calle, .telefono, .email_empresa{
    font-size: 25px;
}
.calle{
    margin-left: 555px;
    margin-bottom: 15px;
}
.telefono{
    text-align: center;
    margin-bottom: 15px;
}
.email_empresa{
    margin-left: 600px;
    margin-bottom: 100px;
}
.icono_footer{
    margin-left: 580px;
}
.footer_face{
    margin-right: 50px;
}
.footer_insta{
    margin-right: 50px;
}
.footer_twitter{
    margin-right: 50px;
}
.footer_phone{
    margin-right: 50px;
}
.linea{
    margin: 150px 150px;
    margin-bottom: 50px;
    margin-top: 25px;
    box-shadow: 0px 5px 15px 5px #eb5e28;
}