*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Esto pertenece al css del contenedor de la navegación */
.container_nav{
    background-color: #111;
    box-shadow: 0px 20px 10px 0px #eb5e28; 
}
.logo_container{
    margin-left: 55px;
    margin-top: 15px;
}
.titulo_container{
    color: white;
    margin-left: 115px;
    margin-top: -15px;
    position: relative;
    bottom: 25px;
}
#nav_container{
    margin-left: 1400px;
    position: relative;
    bottom: 70px;
}

/* Esto pertenece al css de la navegación desplegable */
.nav{
    width: 0;
    position: fixed;
    z-index: 1;
    height: 250px;
    right: 35px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    top: 73px;
} 
.nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
} 
.nav a:hover {
    color: #f1f1f1;
}
.nav .cerrar {
    position: absolute;
    right: 25px;
    font-size: 36px;
}
.abrir {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;   
}
 
.abrir:hover {
    background-color:#444;
}