/* Aqui empieza el css del slider con clase slider */
@keyframes fade{
    from {opacity: .4} 
    to {opacity: 1}
}
@media only screen and (max-width: 300px) {
    .prev, .next {font-size: 11px}
}
.fade{
    animation-name: fade;
    animation-duration: 1.5s;
} 
.circulo{
    margin-left: 650px;
    margin-top: -25px;
}
.slider{
    margin-top: -35px;
}
.slider_img{
    width: 100%;
}
.slider_section {
	display: none;
}
.slideshow-container {
    width: 100%;
    position: relative;
    top: -56px;
    margin-top: 1%;
    margin-bottom: 105px;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 65%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease; 
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
.slider{
    margin-bottom: 255px;
}

/* Aquí empieza el css del contenido que esta arriba del slider */
.h1_slider{
    position: absolute;
    color: #eb5e28;
    margin-left: 150px;
    top: 165px;
    font-size: 40px;
   }
   .h1_1_slider{
    position: absolute;
    color: #eb5e28;
    margin-left: 150px;
    top: 250px;
    font-size: 35px;
   }
   .h2_slider{
    position: absolute;
    color: #eb5e28;
    margin-left: 950px;
    top: 165px;
    font-size: 30px;
   }
   .h3_slider{
    position: absolute;
    color: #eb5e28;
    margin-left: 950px;
    top: 250px;
    font-size: 25px;
   }
.img_slider{
    position: absolute;
    margin-left: 50px;
    top: 375px;
}
.p_slider{
    position: relative;
    color: #eb5e28;
    margin-left: 470px;
    margin-top: -275px;
    text-align: justify;
    font-size: 20px;
}

/* Aquí empieza el css del formulario que esta arriba del slider */
::placeholder{
    color: #fffcf2;
  }
  .nombre{
    position: absolute;
    background-color: #ea9371;
    margin-left: 1050px;
    top: 300px;
    border-radius: 25px;
    border: none;
    padding: 15px;
    width: 350px;
    color: #fffcf2;
  }
  .email{
    position: absolute;
    background-color: #ea9371;
    margin-left: 1050px;
    top: 400px;
    border-radius: 25px;
    border: none;
    padding: 15px;
    width: 350px;
    color: #fffcf2;
  }
  .phone{
    position: absolute;
    background-color: #ea9371;
    margin-left: 1050px;
    top: 500px;
    border-radius: 25px;
    border: none;
    padding: 15px;
    width: 350px;
    color: #fffcf2;
  }
  .boton{
    position: absolute;
    color: #eb5e28;
    margin-left: 1050px;
    top: 600px;
    border-radius: 25px;
    border: 2px solid #ea9371;
    background: inherit;
    padding: 15px;
    width: 350px;
  } 