/* Esta es la hoja de estilo de indexrepuesto.html echa por Naila María Rodriguez Cabrera */
/* Esto es el css del tipo de letra utilizada */
@font-face {
    font-family: 'Kdam Thmor Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/kdamthmorpro/v1/EJRPQgAzVdcI-Qdvt34jzurnGD7zhc548Q.woff2) format('woff2');
    unicode-range: U+1780-17FF, U+200C, U+25CC;
}
@font-face {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/playfairdisplay/v29/nuFRD-vYSZviVYUb_rj3ij__anPXDTnCjmHKM4nYO7KN_qiTXtXA-W2r.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

  /* Aquí empieza el css de la página */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Esto pertenece al css del contenedor de la navegación */
.container_nav{
    background-color: #111;
    box-shadow: 0px 20px 10px 0px #eb5e28; 
}
.logo_container{
    margin-left: 55px;
    margin-top: 15px;
}
.titulo_container{
    color: white;
    margin-left: 115px;
    margin-top: -15px;
    position: relative;
    bottom: 25px;
    font-family: 'Kdam Thmor Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
}
#nav_container{
    margin-left: 1400px;
    position: relative;
    bottom: 70px;
}

/* Esto pertenece al css de la navegación desplegable */
.nav{
    width: 0;
    position: fixed;
    z-index: 1;
    height: 250px;
    right: 35px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    top: 73px;
} 
.nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
} 
.nav a:hover {
    color: #f1f1f1;
}
.nav .cerrar {
    position: absolute;
    right: 25px;
    font-size: 36px;
}
.abrir {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;   
}
 
.abrir:hover {
    background-color:#444;
}

/* Aqui empieza el css del slider con clase slider */
@keyframes fade{
    from {opacity: .4} 
    to {opacity: 1}
}
@media only screen and (max-width: 300px) {
    .prev, .next {font-size: 11px}
}
.fade{
    animation-name: fade;
    animation-duration: 1.5s;
} 
.circulo{
    margin-left: 650px;
    margin-top: -25px;
}
.slider{
    margin-top: -35px;
}
.slider_img{
    width: 100%;
}
.slider_section {
	display: none;
}
.slideshow-container {
    width: 100%;
    position: relative;
    top: -56px;
    margin-top: 1%;
    margin-bottom: 105px;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 65%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease; 
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
.slider{
    margin-bottom: 255px;
}

/* Aquí empieza el css del contenido que esta arriba del slider */
.h1_slider{
    position: absolute;
    color: #eb5e28;
    margin-left: 150px;
    top: 165px;
    font-size: 40px;
    font-family: 'Kdam Thmor Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
   }
   .h1_1_slider{
    position: absolute;
    color: #eb5e28;
    margin-left: 150px;
    top: 250px;
    font-size: 35px;
    font-family: 'Kdam Thmor Pro';
    font-style: normal;
    font-size: 30px;
   }
   .h2_slider{
    position: absolute;
    color: #eb5e28;
    margin-left: 1050px;
    top: 165px;
    font-size: 30px;
    font-family: 'Kdam Thmor Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
   }
   .h3_slider{
    position: absolute;
    color: #eb5e28;
    margin-left: 1050px;
    top: 250px;
    font-size: 25px;
    font-family: 'Kdam Thmor Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
   }
.img_slider{
    position: absolute;
    margin-left: 10px;
    top: 375px;
}
.p_slider{
    position: relative;
    color: #eb5e28;
    margin-left: 350px;
    margin-top: -275px;
    text-align: justify;
    font-size: 20px;
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 400;
}

/* Aquí empieza el css del formulario que esta arriba del slider */
::placeholder{
    color: #fffcf2;
  }
  .nombre{
    position: absolute;
    background-color: #ea9371;
    margin-left: 1050px;
    top: 300px;
    border-radius: 25px;
    border: none;
    padding: 15px;
    width: 350px;
    color: #fffcf2;
  }
  .email{
    position: absolute;
    background-color: #ea9371;
    margin-left: 1050px;
    top: 400px;
    border-radius: 25px;
    border: none;
    padding: 15px;
    width: 350px;
    color: #fffcf2;
  }
  .phone{
    position: absolute;
    background-color: #ea9371;
    margin-left: 1050px;
    top: 500px;
    border-radius: 25px;
    border: none;
    padding: 15px;
    width: 350px;
    color: #fffcf2;
  }
  .boton{
    position: absolute;
    color: #eb5e28;
    margin-left: 1050px;
    top: 600px;
    border-radius: 25px;
    border: 2px solid #ea9371;
    background: inherit;
    padding: 15px;
    width: 350px;
  } 

  /* Este es el css de los diferentes section que tengo en la página web */

/* Sale error en la section del grid y no se porque */

/* Aquí empieza el css de la section */
.section{
    margin-bottom: 255px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row: 50% 50% 50%;
    grid-template-areas: "texto1 img1"
                         "img2 texto2"
                         "texto3 img3";
}
.texto1{
    grid: texto1;
    text-align: center;
    padding-top: 50px;
    margin-left: 25%;
    margin-bottom: 30px;
}
.texto2{
    grid: texto2;
    text-align: center;
    padding-top: 50px;
    margin-right: 25%;
    margin-bottom: 30px;
}
.texto3{
    grid: texto3;
    text-align: center;
    padding-top: 50px;
    margin-left: 25%;
}
.text{
    font-size: 20px;
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 400;
}
.img1{
    grid-area: img1;
    border-radius: 100%;
    margin-left: 150px;
    margin-bottom: 30px;
}
.img2{
    grid-area: img2;
    border-radius: 100%;
    margin-left: 55%;
    margin-bottom: 30px;

}
.img3{
   grid-area: img3;
   border-radius: 100%;
   margin-left: 150px;
}

/* Aquí empieza el css de la section1 */
.ventas{
    position: absolute;
    color: #eb5e28;
    margin-left: 650px;
}
.titulo_section1{
    color: #eb5e28;
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: 'Kdam Thmor Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
}
.texto_section1{
    color: #403D39;
    text-align: center;
    margin-bottom: 45px;
    font-size: 20px;
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 400;
}
 #chartdiv{
    background: linear-gradient(  #282828 70%, #ccc5b9) ; 
    width: 100%; 
    height: 400px;
}

/* Aquí empieza el css de la section2 */
.titulo_section2{
    color:#eb5e28;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'Kdam Thmor Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
}
.texto_section2{
    color: #403D39;
    text-align: center;
    margin-bottom: 65px;
    font-size: 20px;
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 400;
}
.section2 form{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.email_section2{
    position: relative;
    background-color: #eb5e28;
    border-radius: 25px;
    border: none;
    width: 450px;
    color: #fffcf2;
    padding: 10px;
 
}
.boton_section2{
   position: relative;
    color: #eb5e28;
    border-radius: 25px;
    border: 2px solid #eb5e28;
    background: inherit;
    width: 150px;
    padding: 10px;
}
.section2{
    background: #ccc5b9; 
    padding-top: 10vh;
    padding-left: 20vw;
    padding-right: 20vw;
    padding-bottom: 10vh;
}

/* Aquí empieza el css de la section3 */
.video{
    width: 95%;
    margin-left: 35px;
    height: 50vh;
    object-fit: cover;
}
.section3{
    padding-bottom: 65px;
    background: #ccc5b9; 
}

/* Aquí empieza el css de la section4 */
.section4{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient( #ccc5b9, transparent 80%);
    margin-bottom: 50px;
}
.info{
    margin-left: 75px;
    text-align: justify;
}
.titulo_section4{
    font-size: 40px;
    margin-bottom: 15px;
    color: #eb5e28;
    font-family: 'Kdam Thmor Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
}
.texto_section4{
    font-size: 20px;
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 400;
    color: #403D39;

}
.container_imagenes{
    display: grid;
    grid-template-columns: repeat(2, 180px);
    grid-template-rows: repeat(2, 180px);
    column-gap: 2em;
    row-gap: 2em;
    padding: 5em;
    margin-top: 3em;

}
.imagen_section4{
    height: 180px;
}
.imagen1_section4{
    height: 250px;
    position: relative;
    top: 20%;
}
.imagen_pequeña{
text-align: right;
}
.imagen2_section4{
    height: 120px;
    text-align: right;
}

/* Aquí empieza el css de la section5 */
.section5{
    margin-bottom: 255px;
}
.info1{
    margin-left: 105px;
    text-align: justify;
}
.titulo_section5{
    color: #eb5e28;
    font-family: 'Kdam Thmor Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
}
.texto_section5, .texto1_section5{
    margin-bottom: 15px;
    font-size: 15px;
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 400;
}

/* Aquí empieza el css de la tabla de la section5 */
.coche{
    margin-top: -170px;
    margin-left: 870px;
    border: 1px solid #eb5e28;
}
#color{
    word-spacing: 25px;
    background-color: #403D39;
    border: 2px solid #403D39;
    color: #eb5e28;
}
#color1, #color3{
    background-color: #ccc5b9;
    border: 2px solid #ccc5b9;
    color: #282828;
    
}
#color2, #color4{
    background-color: #fffcf2;
    border: 2px solid #fffcf2;
    color: #282828;
    
}
.modelo_section5{
    padding-right: 100px;
    padding-bottom: 25px;
    padding-top: 10px;
    padding-left: 50px;
    
}
.marca_section5{
    padding-right: 100px;
    padding-bottom: 25px;
    padding-top: 10px;
    padding-left: 50px;
    
}
.año_section5{
    padding-right: 100px;
    padding-bottom: 25px;
    padding-top: 10px;
    padding-left: 50px;
    
}

/* Aquí empieza el css de la section6 */
.section6{
    margin-bottom: 150px;
    background: #ccc5b9; 
}
.info2{
    margin-left: 105px;
    text-align: justify;
}
.titulo_section6{
    color: #eb5e28;
    font-weight: bold;
    font-family: 'Kdam Thmor Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
}
.titulo1_section6{
    color: #eb5e28;
    font-family: 'Kdam Thmor Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}
.titulo2_section6{
    color: #eb5e28;
    font-family: 'Kdam Thmor Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}
.texto_section6{
    margin-bottom: 50px;
    color: #fffcf2;
    font-size: 20px;
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 400;
}

/* Aquí empieza el css del formulario de la section6 */
.section6 form{
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
}
.section6_1{
   padding: 155px;
}
::placeholder{
    color: #fffcf2;
}
.nombre1{
    position: absolute;
    background-color: #ea9371;
    border-radius: 25px;
    border: none;
    padding: 10px;
    width: 250px;
    color: #fffcf2;
    margin-left: 1050px;
    margin-top: -285px;
}
.email1{
    position: absolute;
    background-color: #ea9371;
    border-radius: 25px;
    border: none;
    padding: 10px;
    width: 250px;
    color: #fffcf2;
    margin-left: 1050px;
    margin-top: -185px;
}
.boton1{
    position: absolute;
    color: #eb5e28;
    border-radius: 25px;
    border: 2px solid #ea9371;
    background: inherit;
    width: 250px;
    padding: 10px;
    margin-left: 1050px;
    margin-top: 45px;
} 
/* Aqui empieza el css del checkbox*/
#texto{
    color: #fffcf2;
}
.checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 1030px;
    margin-top: -85px;
}
.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.marca {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
}
.checkbox:hover input ~ .marca {
    background-color: #403D39;
}
.checkbox input:checked ~ .marca {
    background-color: #eb5e28;
}
.marca:after {
    content: "";
    position: absolute;
    display: none;
}
.checkbox input:checked ~ .marca:after {
    display: block;
}
.checkbox .marca:after {
    left: 3px;
    top: 5px;
    width: 5px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Aquí empieza el css del footer */
.footer{
    margin-top: -100px;
}
.info_footer{
    margin-top: 30px;
}
.logo_footer{
    margin-left: 660px;
}
.titulo_footer{
    margin-left: 720px;
    margin-top: -40px;
    font-family: 'Kdam Thmor Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
}
.calle, .telefono, .email_empresa{
    font-size: 20px;
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 400;
}
.calle{
    margin-left: 555px;
    margin-bottom: 15px;
}
.telefono{
    text-align: center;
    margin-bottom: 15px;
}
.email_empresa{
    margin-left: 600px;
    margin-bottom: 100px;
}
.icono_footer{
    margin-left: 580px;
}
.footer_face{
    margin-right: 50px;
}
.footer_insta{
    margin-right: 50px;
}
.footer_twitter{
    margin-right: 50px;
}
.footer_phone{
    margin-right: 50px;
}
.linea{
    margin: 150px 150px;
    margin-bottom: 50px;
    margin-top: 25px;
    box-shadow: 0px 5px 15px 5px #eb5e28;
}