@media screen and (max-width:480px) {
    *{
        margin: 0;
        padding: 0;
    }
    header{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .principal{
        width: 100%;
        height: 10rem;
        background: rgba(172, 216, 170, 0.702);
        border-bottom-right-radius: 100px;
    }
    .titulo__principal{
        margin-top: 0.5em;
        margin-left: 0.5em;
        font-family: 'Fredericka the Great';
        font-style: normal;
        font-weight: 400;
        font-size: 2em;
        color: #000000;
    }
    .texto__principal{
        margin-top: 2.5em;
        margin-left: 1em;
        font-style: normal;
        font-weight: 400;
        font-size: 1em;
        color: #000000;
        font-family: 'Fredericka the Great';
    }
    .avatar{
        margin-top: 7em;
        margin-left: 7em;
        width: 10em;
        height: 10em;
        box-shadow: inset 23px -5px 24px 20px rgba(172,216,170,1);
        border-radius: 25px;
        border-bottom-right-radius: 75px;
        background-image: url(myAvatar.png);
        background-repeat: no-repeat;
        transition:  background-image 1s linear;
        background-size: cover;
    }
    .avatar:hover{
        width: 10em;
        height: 10em;
        border-radius: 25px;
        border-bottom-right-radius: 75px;
        background-image: url(avatar1.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
    } 
    .navegacion{
        margin-top: 20em;
        display: flex;
        flex-direction: column;
        width: 75%;
        margin-left: 3em;
    }
    .fondo{
        color: rgb(2, 2, 2);
        border: none;
        outline: none;
        cursor: pointer;
        padding: 1em 1em;
        font-family: 'Lobster';
        font-style: normal;
        font-size: 2em;
    }
    .fondo:hover{
        background-color: rgba(172, 216, 170, 0.5);
    }
    a{
        text-decoration: none;
        color: black;
    }
    #sobremi{
        background-color: rgba(237, 162, 192, 0.2);
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 1em;
        color: #000000;
    }
    #proyectos{
        background-color: rgba(162, 214, 249, 0.2);
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 1em;
        color: #000000;
    }
    #contacto{
        background-color: #ff824333;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 1em;
        color: #000000;
    }
    .sobremi{
        background-color: rgba(237, 162, 192, 0.5);
        border-radius: 20px;
        margin-bottom: 0.5em;
    }
    .proyectos{
        background-color: rgba(162, 214, 249, 0.5);
        border-radius: 20px;
        margin-bottom: 0.5em;
    }
    .contacto{
        background-color:  #ff824380;
        border-radius: 20px;
        margin-bottom: 0.5em;
    }
    .contenido{
        color: black;
        display: none;
        padding: 110px 20px;
    }
    .img__diploma{
        width: 35%;
        height: 35%;
        margin-left: 6.5em;
        margin-top: 2em;
    }
    .imag1{
        position: fixed;
        right: 0;
        bottom: 0;
    }  
    .img11{
        margin-top: 2em;
        margin-left: 3em;
    }
    .navegacion1{
        margin-top: 5em;
    }
    .fondo1{
        color: rgb(2, 2, 2);
        float: left;
        border: none;
        outline: none;
        padding: 1em 3em;
        font-size: 1.2em;
        width: 65%;
        font-family: 'Lobster';
        font-style: normal;
        text-align: center;
        background-color: rgba(162, 214, 249, 0.5);
        border-radius: 30px;
    }
    
    .fondo2{
        color: rgb(2, 2, 2);
        float: left;
        border: none;
        outline: none;
        padding: 1em 3em;
        font-size: 1.2em;
        margin-left: 0.5em;
        width: 65%;
        font-family: 'Lobster';
        font-style: normal;
        text-align: center;
        background-color: rgba(162, 214, 249, 0.5);
        border-radius: 30px;
    }
    .contenido1_titulo1{
        font-style: normal;
        font-size: 1em;
        text-align: center;
    }
    .contenido2_titulo2{
        text-align: center;
        font-style: normal;
        font-size: 1em;
    }
    .img_logo{
        width: 40%;
        margin-left: 6.5em;
    }
    .img_logo1{
        width: 40%;
        margin-left: 6.5em;
    }
}