@media screen  and (min-width:480px){
    *{
        margin: 0;
        padding: 0;
    }
    header{
     
        width: 1518px;
        height: 564px;
    }
    .principal{
        position: absolute;
        width: 720px;
        height: 564px;
        left: 0px;
        top: 0px;
        background: rgba(172, 216, 170, 0.702);
        border-bottom-right-radius: 300px;
    }
    .titulo__principal{
        position: absolute;
        width: 336px;
        height: 176px;
        left: 92px;
        top: 154px;
        font-family: 'Fredericka the Great';
        font-style: normal;
        font-weight: 400;
        font-size: 90px;
        line-height: 88px;
        color: #000000;
    }
    .texto__principal{
        position: absolute;
        left: 42px;
        top: 324px;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 88px;
        color: #000000;
        font-family: 'Fredericka the Great';
    }
    .avatar{
        position: absolute;
        width: 429px;
        height: 433px;
        left: 880px;
        top: 95px;
        box-shadow: inset 23px -5px 24px 20px rgba(172,216,170,1);
        border-radius: 100px;
        border-bottom-right-radius: 200px;
        background-image: url(myAvatar.png);
        background-repeat: no-repeat;
        transition:  background-image 1s linear;
    }
    .avatar:hover{
        position: absolute;
        width: 429px;
        height: 433px;
        left: 880px;
        top: 95px;
        border-radius: 100px;
        border-bottom-right-radius: 200px;
        background-image: url(avatar1.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .contenido{
        color: black;
        display: none;
        padding: 110px 20px;
    }
    .navegacion{
        margin-top: 80px;
        display: flex;
    }
    .fondo{
        color: rgb(2, 2, 2);
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        width: 25%;
        margin-left: 100px;
        top: 500px;
        font-family: 'Lobster';
        font-style: normal;
        font-size: 52px;
    }
    .fondo:hover{
        background-color: rgba(172, 216, 170, 0.5);
    }
    #sobremi{
        background-color: rgba(237, 162, 192, 0.2);
        position: absolute;
        width: 1475px;
        height: 650px;
        top:  745px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 39px;
        color: #000000;
    }
    #proyectos{
        background-color: rgba(162, 214, 249, 0.2);
        position: absolute;
        width: 1475px;
        height: 3900px;
        top:  745px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 39px;
    
    color: #000000;
    }
    #contacto{
        background-color: #ff824333;
        position: absolute;
        width: 1475px;
        height: 273px;
        top:  745px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 39px;
        color: #000000;
    }
    .texto__contenido{
        padding-left: 60px;
    }
    .sobremi{
        background-color: rgba(237, 162, 192, 0.5);
        border-radius: 20px;
    }
    .proyectos{
        background-color: rgba(162, 214, 249, 0.5);
        border-radius: 20px;
    }
    .contacto{
        background-color:  #ff824380;
        border-radius: 20px;
    }
    .img__diploma{
        margin-top: 100px;
        margin-left: 550px;
    }
    .img__diploma:hover{
        animation: tiembla 0.5s;
    }
    @keyframes tiembla{
        0%  { -webkit-transform:rotateZ(-5deg); }
        50% { -webkit-transform:rotateZ( 0deg) scale(.8); }
        100%{ -webkit-transform:rotateZ( 5deg); }
    }
    .img_logo{
        width: 150px;
        margin-left: 650px;
        margin-top: 35px;
    }
    .img_logo1{
        width: 150px;
        margin-left: 650px;
        margin-top: 35px;
    }
    .fondo1{
        color: rgb(2, 2, 2);
        float: left;
        border: none;
        outline: none;
        padding: 14px 16px;
        font-size: 17px;
        width: 500px;
        margin-left: 450px;
        top: 500px;
        font-family: 'Lobster';
        font-style: normal;
        font-size: 52px;
        text-align: center;
        background-color: rgba(162, 214, 249, 0.5);
        border-radius: 30px;
    }
    
    .fondo2{
        color: rgb(2, 2, 2);
        float: left;
        border: none;
        outline: none;
        padding: 14px 16px;
        font-size: 17px;
        width: 500px;
        margin-left: 450px;
        margin-top: 1200px;
        font-family: 'Lobster';
        font-style: normal;
        font-size: 52px;
        text-align: center;
        background-color: rgba(162, 214, 249, 0.5);
        border-radius: 30px;
    }
    .navegacion1{
        margin-top: 85px;
    }
    .contenido1{
        position: absolute;
        margin-left: 100px;
        margin-top: 150px;
        background-color: #9ed3da;
        width: 500px;
        height: 1050px;
        padding: 19px 14px;
        border-radius: 100px;
        border-bottom-right-radius: 150px;
    }
    .contenido1_titulo1{
        font-style: normal;
        font-size: 46px;
        text-align: center;
        margin-bottom: 25px;
    }
    .web{
        margin-left: 450px;
    }
    .img{
        position: absolute;
        margin-top: 200px;
        margin-left: -150px;
    }
    .img1{
        position: absolute;
        margin-top: 200px;
        margin-left: -409px;
    }
    .img2{
        margin-left: 50px;
    }
    .img3{
        margin-left: 100px;
    }
    .img4{
        margin-top: 250px;
        margin-left: 50px;
    }
    .img5{
        margin-top: 250px;
        margin-left: 100px;
    }
    .img6{
        margin-top: 50px;
        margin-left: 180px;
    }
    .contenido2_titulo2{
        text-align: center;
        font-style: normal;
        font-size: 46px;
        margin-bottom: 25px;
    }
    .contenido2{
        position: absolute;
        margin-left: 800px;
        margin-top: 150px;
        width: 560px;
        height: 1050px;
        padding: 19px 14px;
        background-color: #9ed3da;
        border-radius: 100px;
        border-bottom-right-radius: 150px;
    }
    .contenido3{
        position: absolute;
        margin-left: 150px;
        margin-top: 1450px;
        width: 1150px;
        height: 560px;
        padding: 19px 14px;
        background-color: #9ed3da;
        border-radius: 100px;
        border-bottom-right-radius: 150px;
    }
    .img7{
        margin-top: 30px;
        margin-left: 70px;
    }
    .img8{
        margin-top: 30px;
        margin-left: 125px;
    }
    .contenido4{
        position: absolute;
        margin-left: 100px;
        margin-top: 2100px;
        width: 1210px;
        height: 500px;
        padding: 19px 14px;
        background-color: #9ed3da;
        border-radius: 100px;
        border-bottom-right-radius: 150px;
    }
    .img9{
        margin-top: 120px;
    }
    .img10{
    position: absolute;
     top: 140px;
     right: 10px;
    }
    .contenido5{
        position: absolute;
        margin-left: 100px;
        margin-top: 2750px;
        width: 1210px;
        height: 500px;
        padding: 19px 14px;
        background-color: #9ed3da;
        border-radius: 100px;
        border-bottom-right-radius: 150px;
    }
    .img15{
        margin-top: 120px;
    }
    .img11{
        margin-top: 50px;
        margin-left: 600px;
    }
    .container{
        display: flex;
        flex-direction: row;
    }
    .container1{
        display: grid;
        grid-template-columns: repeat(3, 20px );
        grid-template-rows: repeat(3, 20px);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        height:50px ;
        width:50px ;
        margin-left: 600px;
        margin-top: 150px;
        gap: 15px;
    }
    @keyframes prueba{
        from{  transform: rotateZ(0deg);
        transform-origin:  bottom right;}
        to{ transform: rotateZ(360deg);
        transform-origin:  top right;}
    }
    .caja{
        transform-origin:  bottom right;
        transform: rotateZ(30deg);
        animation: prueba 4.5s linear infinite normal;
    }
    @keyframes prueba1{
        from{  transform: rotateZ(0deg);
        transform-origin:  top right;}
        to{ transform: rotateZ(360deg);
        transform-origin:  bottom right;}
    }
    .cajaz{
        transform-origin:  top right;
        transform: rotateZ(30deg);
        animation: prueba1 4.5s linear infinite normal;
    }
    .caja1 {
        grid-area: 1 / 1 / 2 / 2;
        border: solid;
        width: 50px;
        height: 50px;
        border-radius: 35px;
        background-color: #8ae287;
    }
    .caja2 {
        grid-area: 1 / 2 / 2 / 3;
        border: solid;
        width: 50px;
        height: 50px;
        border-radius: 35px;
        background-color:#69cd68;
    }
    .caja3 {
        grid-area: 1 / 3 / 2 / 4;
        border: solid;
        width: 50px;
        height: 50px;
        border-radius: 35px;
        background-color: #4cad4c;
    }
    .caja4 {
        grid-area: 2 / 1 / 3 / 2;
        border: solid;
        width: 50px;
        height: 50px;
        border-radius: 35px;
        background-color: #8ae287;
    }
    .caja5 {
        grid-area: 2 / 2 / 3 / 3;
        border: solid;
        width: 50px;
        height: 50px;
        border-radius: 35px;
        background-color:#69cd68;
    }
    .caja6 {
        grid-area: 2 / 3 / 3 / 4;
        border: solid;
        width: 50px;
        height: 50px;
        border-radius: 35px;
        background-color: #4cad4c;
    }
    .caja7 {
        grid-area: 3 / 1 / 4 / 2;
        border: solid;
        width: 50px;
        height: 50px;
        border-radius: 35px;
        background-color: #8ae287;
    }
    .caja8 {
        grid-area: 3 / 2 / 4 / 3;
        border: solid;
        width: 50px;
        height: 50px;
        border-radius: 35px;
        background-color:#69cd68;
    }
    .caja9 {
        grid-area: 3 / 3 / 4 / 4;
        border: solid;
        width: 50px;
        height: 50px;
        border-radius: 35px;
        background-color: #4cad4c;
    }
    a{
        text-decoration: none;
        color: black;
    }
    .imag1{
        position: fixed;
        right: 0;
        bottom: 0;
    }  
    .img14{
        margin-left: 0.5px;
    }
}