*{
    margin: 0%;
    padding: 0%;
}
/* CSS del header */
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.logo_empresa{
    width: 10%;
}
nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 24px;
}
nav a{
    color: #AF5F00;
    text-decoration: none;
}
/* CSS de la imagen portada */
#container_principal{
    width: 100%;
    height: 60vh;
    background-image: url(../header/portada.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-position: center;
}
.nombre_empresa{
    font-family: 'jsMath-cmbx10';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 70px;
    color: #5a3527;
}
.nombre1_empresa{
    font-family: 'jsMath-cmbx10';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 70px;
    color: #5a3527;
}
/* CSS del container cuidamos */
#servicios_cont{
    padding-top: 9em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container_cuidamos{
    width: 84,5%;
}
.titulo_container-cuidamos{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 3em;
    line-height: 58px;
    color: rgba(90, 53, 39, 0.5);
    width: 50%;
    text-align: center;
}
.container_izquierda-foto{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.container_derecha-foto{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 100%;
}
.container_izquierda-foto img{
    width: 100%;
}
.container_derecha-foto img{
    width: 100%;
}
.container_contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.container_contenido p{
    font-size: 1.50em;
    padding: 2rem;
}
.container-foto{
    width: 100%;
}
h3{
    font-family: 'Lancelot';
    font-weight: 400;
    font-size: 2em;
    color: #AF5F00;
}

/* CSS del container profesionales */
#profesionales_cont{
    padding-top: 15em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo_container-cuidadores{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 3em;
    line-height: 58px;
    color: rgba(90, 53, 39, 0.5);
    width: 100%;
    text-align: center;
}
.container_profesionales-cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.card img{
    width: 100%;
}
.card{
    width: 14em;
    margin: 2em;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(200, 140, 50, 0.2);
    background: #fff;
}
.card:hover {
    -webkit-box-shadow: 0 8px 24px 0 rgb(225, 207, 142);
    box-shadow: 0 8px 24px 0 rgb(200, 140, 50);
    cursor: pointer;
    border: 2px solid rgb(200, 140, 50);
}
h4{
    margin-bottom: 1em;
}
.container_profesionales-titulo p{
    margin-bottom: 1em;
}

/* CSS del container contacto */
#formulario_cont{
    padding-top: 10em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3em;
}
.titulo_container-contacto{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 3em;
    line-height: 58px;
    color: rgba(90, 53, 39, 0.5);
    width: 100%;
    text-align: center;
}
label{
    font-size: 24px;
    color: #AF5F00;
}
input{
   text-align: center;
   padding: 5px;
   -webkit-box-shadow: 0 4px 8px 0 rgba(225, 207, 142, 0.2);
   box-shadow: 0 4px 8px 0 rgba(200, 140, 50, 0.2);
   background: #fff;
   -webkit-transition: 0.3s;
   transition: 0.3s;
   border: 1px solid rgb(200, 140, 50);
   border-radius: 5px;
}
input:hover {
    -webkit-box-shadow: 0 8px 24px 0 rgb(225, 207, 142);
    box-shadow: 0 8px 24px 0 rgb(200, 140, 50);
    cursor: pointer;
    border: 2px solid #AF5F00;
}
form{
    background-color: #FFEFDD;
    border-radius: 15px;
    padding: 55px 200px;
}
.enviar{
    padding: 5px 25px 5px 25px;
}